<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VRCinHereForMastodon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VRCinHereForMastodon.Properties.Settings>
            <setting name="ServerDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TootPublicJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootPublicJoinURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootFriendsPlusJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootFriendsPlusJoinURL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TootFriendsOnlyJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootFriendsOnlyJoinURL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TootGroupJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootGroupJoinWorldName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TootInvitePlusJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootInvitePlusJoinWorldName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TootPrivateJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootPrivateJoinWorldName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TootLogout" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootPublishType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TootText" serializeAs="String">
                <value>今ここにいます。</value>
            </setting>
            <setting name="NotTootSpecifyWorldJoin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaskSpecifyWorldName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootGroupPublicJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootGroupPublicJoinURL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootGroupPlusJoin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TootGroupPlusJoinURL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TootError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TootDateTime" serializeAs="String">
                <value>False</value>
            </setting>
        </VRCinHereForMastodon.Properties.Settings>
    </userSettings>
</configuration>